@import "tailwindcss";
@layer base {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
    box-shadow: 0 0 0px 1000px white inset !important;
    -webkit-text-fill-color: inherit !important; /* jo normal color hai wahi use karega */
    border-radius: inherit !important; /* jo normal Tailwind rounded hai wahi rahega */
    background-color: transparent !important; /* naya bg force nahi karega */
  }
}
